/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.title {
    display: flex;
    justify-content: center;
}

.btn {
    position: relative;
    padding: 15px 40px;
    background: #d5db94;
    cursor: pointer;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: 0.5s;
    clip-path: polygon(90% 1%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    border: none;
}

.btn:hover {
    background: #a7b612;
    color: #fff;
    letter-spacing: 4px;
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
}