.navbar {
    display: flex;
    justify-content: space-around;    
}

.link {
    text-decoration: none;
    padding: 5px 10px;
    background-color: black;
    border-radius: 8px;
    border: 2px solid black;
    color: white;
    transition: 900ms;
}

.link:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}